In [16]:
# Importing the libraries
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import requests
import json

In [17]:
# CSV Path
csv_path = os.path.join("..","Data", "Cleaned", "GHGvsGDP.csv")

# Reading CSV as DF
ghg_gdp_df = pd.read_csv(csv_path)
ghg_gdp_df.tail(5)

,Country,Year,Total GHG Emissions Including Land-Use Change and Forestry (MtCO_e_),GDP-USD (Million US$ (2005)),Population (People),GHG per Capita,GDP per Capita
4318,Yemen,2012.0,29.84,17392,23852409.0,1.25,729.15
4319,Zambia,2012.0,119.81,14354,14075099.0,8.51,1019.82
4320,Zimbabwe,2012.0,62.93,6437,13724317.0,4.59,469.02
4321,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4322,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Dropping NaN
cleaned_df = ghg_gdp_df.dropna()

# Dropping Aggragate World Data
cleaned_df = cleaned_df[(cleaned_df['Country']!="World")]
cleaned_df = cleaned_df[(cleaned_df['Country']!="European Union")]

In [32]:
# Saving 2012 Data for Mapping
map_df =  cleaned_df[cleaned_df['Year'] == 2012]

map_csv_path = os.path.join("..", "Data", "Cleaned", "Map_Data.csv")
map_df.to_csv(map_csv_path)

In [19]:
# Data for Simple ML
simple_ml_df = cleaned_df[["GDP per Capita", "GHG per Capita"]].copy()

#X and Y values for Linear Regression Model
X = simple_ml_df.iloc[:, :-1].values
y = simple_ml_df.iloc[:, 1].values

simple_ml_df.tail(5)

     GDP per Capita GHG per Capita
4315        6412.03          13.24
4316         986.01           2.83
4318         729.15           1.25
4319        1019.82           8.51
4320         469.02           4.59

In [20]:
# Imports from SciKit Learn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/2, random_state = 0)

In [22]:
# Fitting Simple Linear Regression to the Training set
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [24]:
# Saving model to disk
pickle.dump(regressor, open('ghg_linear_model.pkl','wb'))

In [29]:
# Loading model to compare the results
model = pickle.load( open('ghg_linear_model.pkl','rb'))
print(model.predict([[729]]))

[5.77820864]